.sideMenu{
    width: 20%;
    height: 100%;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 30px;
    background: var(--bgcolor);
    box-shadow: -5px -5px 15px rgba(255,255,255,.1), 5px 5px 15px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.sideMenu .logo{
    position: relative;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: #FFFF;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.sideMenu .nav{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}
.sideMenu .nav li a{
    text-decoration: none;
    color: #FFFF;
    font-size: 1.2rem;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    gap: 25px;
    transition: .5s;
    background: var(--bgcolor);
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
}
.sideMenu .nav li a:hover, .sideMenu .nav li a.active{
box-shadow: -5px -5px rgba(255,255,255,.1), 5px 5px 15px rgba(0,0,0,0.35);
}

.sideMenu.active{
    width: 7%;
    transition: 1s;
    overflow: hidden;
    align-items: center;
}
.sideMenu.active .brand, .sideMenu.active .navName{
    display: none;
}
.sideMenu.active .nav li a{
    font-size: 1.8rem;
}